# IDEs
.vscode
.atom
.idea

# Data
/data

# Environments
venv
env
.env

# Secret files
secret

# Third party software
/marabou
.marabou

# Build & Compilation
__pycache__
artifacts

# Logging & Output
/logs
/.logs
/*.log
summary.txt
log.txt

# OS files
.DS_Store
thumbs.db
desktop.ini

# Sandbox & Notes
/sandbox
sandbox.*
/notes
